In [3]:
import numpy as np
import pandas as pd
import plotly.express as px
# from google.cloud import bigquery
# import pydata_google_auth

# from google.colab import auth
# import pandas as pd

# auth.authenticate_user()

In [4]:
# query = '''
#   SELECT * 
#   FROM `tfl-data-lewagon.Dataset02.Dataset02_most_popular_trips`
# '''
# data = pd.read_gbq(query, project_id="tfl-data-lewagon")
# data

In [3]:
# df_trips = data.copy()
# df_trips['start_zone']= df_trips.Start_station_name.map(lambda x: x.split(',', 1)[1].strip())
# df_trips['end_zone']  = df_trips.End_station_name.map(lambda x: x.split(',', 1)[1].strip())
# df_trips = df_trips.astype({
#     'Start_station_latitude': 'float32',
#     'Start_station_longitude': 'float32',
#     'End_station_latitude': 'float32',
#     'End_station_longitude': 'float32',
#                            })
# df_trips = df_trips.round({
#     'Start_station_latitude': 5,
#     'Start_station_longitude': 5,
#     'End_station_latitude': 5,
#     'End_station_longitude': 5,
#                            })
# df_trips= df_trips.replace(['Kings Cross', 'Lingham Street, Stockwell', 'Parsons Green', 'St Lukes', 'St Pauls', "St. John's Wood", 'The Borough'], 
#                            ["King's Cross", 'Stockwell', "Parson's Green", "St. Luke's", "St. Paul's", "St.John's Wood", 'Borough'])

In [5]:
# df_stations= df_trips.groupby(by=['Start_station_name'], as_index=False).agg( 
#     zone=('start_zone', 'first'),
#     avg_lat=('Start_station_latitude', 'max'),
#     avg_lon=('Start_station_longitude', 'max'))
# df_stations_zone= df_stations.groupby(by=['zone'], as_index=False).agg( 
#     #trips=('popular_trips', 'sum'),
#     avg_lat=('avg_lat', 'mean'),
#     avg_lon=('avg_lon', 'mean'))
# #df_end_stations.columns=df_start_stations.columns
# #df_stations_zone=pd.concat([df_end_stations, df_start_stations])
# #df_stations_zone= df_stations_zone.groupby('start_zone', as_index=False).mean()
# #df_stations_zone['end_zone']=df_stations_zone.start_zone
# #df_stations_zone.columns=['zone', 'avg_lat', 'avg_lon']
# df_stations_zone=df_stations_zone.round(5)
# df_stations_zone

In [6]:
# from pandas.core.frame import Suffixes
# df_trips_grouped= df_trips.groupby(by=['start_zone', 'end_zone'], as_index=False).agg( 
#     trips=('popular_trips', 'sum'),
#     # avg_start_lat=('Start_station_latitude', 'mean'),
#     # avg_start_lon=('Start_station_longitude', 'mean'),
#     # avg_end_lat=('End_station_latitude', 'mean'),
#     # avg_end_lon=('End_station_longitude', 'mean')
# )
# df_trips_grouped = df_trips_grouped.merge(df_stations_zone, how='left', left_on='start_zone', right_on='zone').merge(df_stations_zone, how='left', left_on='end_zone', right_on='zone', suffixes=('_start','_end'))
# df_trips_grouped = df_trips_grouped.drop(labels=['zone_start', 'zone_end'], axis=1)
# #df_trips_grouped = df_trips_grouped[df_trips_grouped.trips>=5000]
# df_trips_grouped = df_trips_grouped[df_trips_grouped.start_zone != df_trips_grouped.end_zone]

# #df_trips_grouped = df_trips_grouped.sample(1000)

# df_trips_grouped.reset_index(inplace=True)

In [7]:
# df_trips_grouped['lon']=list(zip(df_trips_grouped['avg_lon_start'], df_trips_grouped['avg_lon_end']))
# df_trips_grouped['lon']=df_trips_grouped['lon'].map(lambda x: tuple([round(x[0], 5), round(x[1], 5)]))
# df_trips_grouped['lat']=list(zip(df_trips_grouped['avg_lat_start'], df_trips_grouped['avg_lat_end']))
# df_trips_grouped['lat']=df_trips_grouped['lat'].map(lambda x: tuple([round(x[0], 5), round(x[1], 5)]))
# df_trips_grouped['name']=list(zip(df_trips_grouped['start_zone'], df_trips_grouped['end_zone']))
# df_trips_grouped['name']= df_trips_grouped['name'].apply(sorted)
# df_trips_grouped['name']= df_trips_grouped['name'].map(lambda x: f'{x[0]} - {x[1]}')
# df_trips_grouped

In [ ]:
# len(df_trips_grouped.name.drop_duplicates())

In [ ]:
# df_trips_zones= df_trips_grouped.groupby(by=['name'], as_index=False).agg( 
#     trips=('trips', 'sum'),
#     lat=('lat', 'first'),
#     lon=('lon', 'first')
# ).sort_values(by='trips', ascending=False)
# df_trips_zones.reset_index(inplace=True)
# df_trips_zones

In [14]:
import plotly.graph_objects as go

In [9]:
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()
# scaled_trip_total = pd.DataFrame(scaler.fit_transform(df_trips_zones[['trips']]))
# scaled_trip_total

In [ ]:
# df_trips_zones['trips_scaled'] = scaled_trip_total
# #df_trips_grouped['start_zone2'] = df_trips_grouped['start_zone']
# df_trips_zones

In [ ]:
# df_trips_zones = df_trips_zones[df_trips_zones.trips>=15000]
# df_trips_zones

In [42]:
# df_stations_zone.to_csv('df_stations_zone.csv', index=False)

In [10]:
df_stations_zone = pd.read_csv("../data/df_stations_zone.csv")
df_stations_zone.head()

       zone   avg_lat  avg_lon
0   Aldgate  51.51398 -0.07464
1     Angel  51.53324 -0.10652
2  Avondale  51.51154 -0.21514
3      Bank  51.51280 -0.09163
4  Bankside  51.50618 -0.09824

In [44]:
# df_trips_zones.to_csv('df_trips_zones.csv', index=False)

In [16]:
df_trips_zones = pd.read_csv("../data/df_trips_zones.csv")
print(df_trips_zones.shape)
df_trips_zones.head()

(838, 6)

,index,name,trips,lat,lon,trips_scaled
0,4066,Hyde Park - Kensington Gardens,260185,"(51.50562, 51.506)","(-0.16149, -0.18487)",1.000000
1,1265,Bethnal Green - Shoreditch,172041,"(51.52744, 51.52416)","(-0.05739, -0.07619)",0.661224
2,3912,Holborn - Waterloo,165402,"(51.51776, 51.50095)","(-0.11324, -0.11342)",0.635708
3,4075,Hyde Park - Mayfair,156800,"(51.50562, 51.50988)","(-0.16149, -0.1479)",0.602647
4,683,Battersea - Clapham Junction,156729,"(51.47151, 51.46406)","(-0.16366, -0.17169)",0.602374

In [21]:
df_trips_zones['lat']

0        (51.50562, 51.506)
1      (51.52744, 51.52416)
2      (51.51776, 51.50095)
3      (51.50562, 51.50988)
4      (51.47151, 51.46406)
               ...
833    (51.49946, 51.50562)
834     (51.52011, 51.5262)
835     (51.5128, 51.52744)
836    (51.53821, 51.51554)
837    (51.51398, 51.50561)
Name: lat, Length: 838, dtype: object

In [12]:
# center= {'lat': df_trips_grouped['avg_lat_start'].mean(), 'lon': df_trips_grouped['avg_lon_start'].mean()}

center = {'lat': 51.509865, 'lon': -0.118092}

In [18]:
# max_trips= float(df_trips_grouped['trips'].max())
px.set_mapbox_access_token('pk.eyJ1Ijoiam1oYmF1ZGluNzUiLCJhIjoiY2xkYWY0aTh4MGYzaTN2bnB6NTVqcXlqeCJ9.k7_gsD6_d6aeh9EhU_0Nvw')

fig = px.scatter_mapbox(data_frame=df_stations_zone,
                        lat='avg_lat', lon='avg_lon',
                        center= center,
                        zoom=11,
                        width= 1500,
                        height= 700,
                        text=df_stations_zone.zone,
                        # size_max=0.1,
                        
                        )
for i in range(len(df_trips_zones)):
    fig.add_trace(
        go.Scattermapbox(
            lon = df_trips_zones['lon'][i],
            lat = df_trips_zones['lat'][i],
            mode = 'lines',
            line = dict(width = 2,color = 'red'),
            opacity = df_trips_zones['trips_scaled'][i],
            name=df_trips_zones['name'][i],
            hovertext=df_trips_zones['name'][i]
        )
    )

# fig.update_layout(px.scatter_mapbox(
#                   marker = {'color': scaled_trip_total,
#                   'size': 5,
#                   'opacity': 0.6}))

fig.show()

ValueError:
    Invalid value of type 'builtins.str' received for the 'lat' property of scattermapbox
        Received value: '(51.50562, 51.506)'

    The 'lat' property is an array that may be specified as a tuple,
    list, numpy array, or pandas Series

In [48]:
df_stations_zone.to_csv('df_stations_zone.csv', index=False)

In [47]:
df_trips_zones.to_csv('df_trips_zones.csv', index=False)